/* NAVBAR */
header{
    background-color: white;
    padding: 10px;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
header.scrolled{
    background-color: white;
}
.navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    font-weight: bold;
    color: black;
    font-size: 14px;
    margin-left: 20px;
  }
  .btn-login{
    background-color: white;
    font-size: 14px;
    padding: 8px 15px;
    font-weight: bold;
    color: black;
    border: 1px solid white;
    &:hover{
        background: none;
        border: 1px solid #1E9781;
        color: #1E9781;
    }
  }
  .btn-signup{
    font-size: 14px;
    font-weight: bold;
    padding: 8px 15px;
    background-color: #1E9781;
    border: 1px solid #1E9781;
    color: white;
    &:hover{
        background: none;
        border: 1px solid #1E9781;
        color:#1E9781;
    }

  }

/* CONTENT */
h6{
    font-size: 20px;
    color: black;
}
h3{
    font-size: 45px;
    color: #1E9781;
    font-weight: bolder;
}
.circle-active{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #4A3AFF;
    font-size: 20px;
    text-align: center;
    color: white;
}
.string-active{
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: #4A3AFF;
    margin: 16px 5px;
}
.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #EFF0F6;
    font-size: 20px;
    text-align: center;
    color: #6F6C90;
}
.string{
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: #EFF0F6;
    margin: 16px 5px;
}
.isi{
    display: flex;
    margin-top: 35px;
}
.container-konfirmasi{
    padding: 50px;
    border: 10px solid #EFF0F6;
    border-radius: 20px;
}
/* INPUT */
form{
    padding: 0px 50px;
}
input[type="text"]{
    height: 70px;
    border: 4px solid #EFF0F6;
    border-radius: 0px;
    border-left: none;
}
#basic-addon1{
    border: 4px solid #EFF0F6;
    border-radius: 0px;
    background-color: white;
    border-right: none;
}
i{
    font-size: 30px;
    color: #A0A3BD;
}



/* button */
.btn-next, .btn-prev{
    padding: 10px 20px;
    color: white;
    border: 1px solid #4A3AFF;
    background-color: #4A3AFF;
    margin: 50px 0px;
    border-radius: 50px;
    &:hover{
        color: #4A3AFF;
        background-color: white;

    }
}
.btn-kirim{
    height: 70px;
    width: 100px;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #1E9781;
    border: 1px solid #1E9781;
    &:hover{
        color: #1E9781;
        background-color: white;
    }
}

